---
import type { CollectionEntry } from 'astro:content';
import Base from './Base.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Comments from '../components/Comments.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags, categories } = Astro.props;
---

<Base title={title} description={description}>
	<p></p>
	<h2>–</h2>
	<h1>{title}</h1>
	<p>发布于 <FormattedDate date={pubDate} /></p>
	<p>
	{categories && categories.length > 0 && (
		<span style="margin-right:20px">
			分类：
			{categories.map((category) => (
				<a href={`/categories/${category}/`} class="tag">{category}</a>
			))}
		</span>
	)}
	
	{tags && tags.length > 0 && (
		<span>
			标签：
			{tags.map((tag) => (
				<a href={`/tags/${tag}/`} class="tag">{tag}</a>
			))}
		</span>
	)}
	</p>

	<div class="post-content content">
		<hr />
		<slot />
	</div>
	
	<!-- 评论组件 -->
	<Comments showLinuxDo={true} />
</Base>
